
<ion-header>
  <ion-navbar color ="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Sleep</ion-title>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="!auth.authenticated()" padding>
</ion-content>

<ion-content *ngIf="auth.authenticated()" padding>

  <ion-card>
      <ion-card-header>
        Sleep Quality
      </ion-card-header>
      <ion-card-content>
        <canvas #lineCanvas height="300" ></canvas>
      </ion-card-content>
  </ion-card>

  <ion-item>
    <ion-label floating>
      <ion-icon name="eye"></ion-icon>
      Select View
    </ion-label>
    <ion-select okText="Done" cancelText="Cancel" [(ngModel)]="feel">
      <ion-option value="24">24 Hours</ion-option>
      <ion-option value="48">48 Hours</ion-option>
      <ion-option value="1 Week">1 Week</ion-option>
      <ion-option value="1 Month">1 Month</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label floating>
      <ion-icon name="calendar"></ion-icon>
      Select Specific Date
    </ion-label>
    <ion-datetime displayFormat="MMM/D/YYYY"pickerFormat= "MMM/D/YYYY"
      [(ngModel)]="myDate">
    </ion-datetime>
  </ion-item>

  <button ion-button block round > Enter </button>

  <ion-list>
    <ion-item *ngFor="let sleep of sleeps">
      <p>Date: {{sleep.dateOfSleep}}</p>
      <p>Duration: {{sleep.duration|msToHrs}}</p>
      <p>Efficiency: {{sleep.efficiency}}</p>
    </ion-item>
  </ion-list>
</ion-content>

