<!-- SLEEP PAGE -->

<ion-navbar color ="secondary">
  <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Log</ion-title>
</ion-navbar>

<ion-content 
  padding *ngIf="!auth.authenticated()">
</ion-content>

<ion-content padding *ngIf="auth.authenticated()">

<h4 text-center>
How did you sleep?
</h4>

<ion-item>
  <ion-label floating> 
  <ion-icon name="calendar"></ion-icon> 
    Date
  </ion-label>
  <ion-datetime displayFormat="MMM/D/YYYY"pickerFormat= "MMM/D/YYYY" 
    [(ngModel)]="myDate">    
  </ion-datetime>
</ion-item>

<ion-item>
  <ion-label floating> 
    <ion-icon name="time"></ion-icon> 
    Start Time
  </ion-label>
  <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" 
    [(ngModel)]="date">
  </ion-datetime>
</ion-item>

<ion-item>
  <ion-label floating> 
    <ion-icon name="time"></ion-icon> 
    End Time
  </ion-label>
  <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" 
  [(ngModel)]="date">
  </ion-datetime>
</ion-item>

<ion-item>
    <ion-label floating>
      <ion-icon name="happy"></ion-icon> <ion-icon name="sad"></ion-icon>
      How was your sleep?
    </ion-label>
    <ion-select okText="Done" cancelText="Cancel" [(ngModel)]="sleepModel">
      <ion-option value="Good">Sound</ion-option>
      <ion-option value="Average">Normal</ion-option>
      <ion-option value="Bad">Restless</ion-option>
    </ion-select>  
</ion-item>

<button ion-button block round (click)="createSleepEntry()"> Enter </button>

</ion-content>